* {
    color: white;
    margin: 0;
}

body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/690/228/914/code-javascript-hd-wallpaper-preview.jpg);
    display: grid;
    justify-items: center;
    align-content: center;
}

.main {
    background-color: rgba(13, 0, 130, 0.415);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}